* {
    font-family: 'Righteous', cursive;
}

body, html {
    background: #E8DFDF;
    background: -webkit-linear-gradient(bottom right, #E8DFDF, #EED0C6);
    background: -moz-linear-gradient(bottom right, #E8DFDF, #EED0C6);
    background: linear-gradient(to top left, #E8DFDF, #EED0C6);
}

.sizing {
    font-size: 1.25em;
    color: #CA9EB8;
}

.jumbotron {
    background: inherit;
}

.coffee-img {
    /*border: red solid 5px;*/
}

.bean-img {
    width: 400px;
    height: 300px;
}

.headings {
    font-family: 'Megrim', cursive;
}
.card {
    background-color: #EDE7E3;
    border: solid #ffffff 2px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #996515;
    color: #ffffff;
}

